*{
    margin: 0;
}

.titulo_section{
    text-align: center;
    font-size: 50px;
}

.img_section{
    margin: 0 auto;
    width: 100%;    
}


.grid_section{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.caja{
    margin: 25px;
}
.cita{
    font-weight: bold ;
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 4px;
}
.section_text{
    font-size: 19px;
}


.grid_foot{
    grid-template-columns: auto auto auto;
    width: 97%;
    margin: auto;
    padding: 20px;
    display: grid;
    border-top: solid 1px;
    border-bottom: solid 1px;
}
.grid_foot h4{
    font-size: 28px;
    font-weight: bold;
}
.grid_foot h5{
    font-size: 20px;

}

.foot_right{
    text-align: center;
}