@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap');
*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(29, 29, 29);

}

.head-menu{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
    height: 146px;
}

.book{
    color: rgb(255, 255, 255);
    font-size: 100px;
    padding: 0 6rem;
    float: left;
    line-height: 146px;
}
/*---------------------------------------------------Menu---------------------------------------------------------*/
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    float: left;
}

.menu a{
    color: cornsilk;
    text-decoration: none;
    display: block;
    padding: 3px 26px;
    font-family: 'style script';
    font-size: 23px;
}


.barra{
    color: blanchedalmond;
    padding: 15px 0 0 0;
}

.menu a:hover{

    color: rgb(40, 28, 209);
    animation: 1s ms 1;
}

@keyframes ms {
    0%{
        opacity: 0;
        transform: scale(1.5);
    }
}
.menu {
    width: 616px;
    margin: 52.5px 4rem;
    padding: 0;

}
/*-----------------------------------------------------------------------------------------------------------------*/

.search{
    padding: 5px;
    position: absolute;
    margin: 40px 0;
}
#btn-search{
    display: none;
}
.search  input{
    margin: 0.3em;
    width: 240px;
    height: 30px;
    padding: 0 45px;
    font-size: 17px;
    color: black;
    outline: none;
    border-radius: 30px;
}
.icon-search{
    
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(26, 26, 70);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
/*----------------------------bloques en linea----------------------*/
.book, .menu, .search{
    display: inline-block;
}

.icon-search + input{
    float: right;
}
/*-----------------------------------------------------------------*/
/*--------------------------responsive----------------------*/
@media screen and (max-width: 1285px){
    .search input{
        margin: -200000%;
    }
}
@media screen and (max-width: 1080px) {
    .head-menu{
        height: 400px;
    }
    .book{
        margin: 2% 20%;
    }
    .book, .menu, .search{
        flex-direction: column;
    }
    .search{
        margin: 0 20%;
    }

}
@media screen and (max-width: 743px) {
    .search input{
        margin: 0;
    }
}
.picture-book{
    margin: 0 auto;
    margin-top: 50px;
    width: 1000px;
    height: auto;
}
.picture-book img{
    border: solid 12px rgb(255, 255, 255);
}

@media screen and (max-width: 920px) {
    .picture-book{
        width: 100%;
    }
}
.brand{
    width: 290px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #fff;
    text-align: center;
}

.brand span{
    font-family: 'Palette Mosaic';
    font-size: 220%;
}

.grid-books{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: rgb(34, 12, 12);
    width: 95%;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
}
.grid-books div{
    margin: 0 auto;
    width: 450px;
    height: 400px;
    background-color: #fff;
}